      <footer class="footer">
        <ul class="footer-links">
            <li>
              <a href="{{.Site.Params.canonicalUrl}}{{ if (.OutputFormats.Get "RSS") }}{{ (.OutputFormats.Get "RSS").RelPermalink }}{{ else }}/index.xml{{ end }}" type="application/rss+xml" target="_blank">RSS feed</a>
            </li>
          <li>
            <a href="https://twitter.com/sqlitebrowser" target="_blank">Twitter</a>
          </li>
        </ul>
        <br />
      </footer>
    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ partial "footer_fathom" . }}
    
    {{ if and (eq .Section "blog") .IsPage }}
  {{ partial "footer_utterances" . }}
    {{ end }}
    
  </body>
</html>
