<nav class="nav">
  <a href="{{ "/" | relURL }}" class="nav-logo">
    <img src="{{ print "images/" .Site.Params.logo.url | relURL }}"
         width="{{ .Site.Params.logo.width }}"
         height="{{ .Site.Params.logo.height }}"
         alt="{{ .Site.Params.logo.alt }}">
  </a>
  <ul class="nav-links">
    <li><a href="/about/">About</a></li>
    <li><a href="/dl/"><b>Download</b></a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="https://github.com/sqlitebrowser/sqlitebrowser/wiki">Docs</a></li>
    <li><a href="https://github.com/sqlitebrowser/sqlitebrowser">GitHub</a></li>
    <li><a href="https://gitter.im/sqlitebrowser/sqlitebrowser">Gitter</a></li>
    <li><a href="https://db4s.slack.com">Slack</a></li>
    <li><a href="/stats/">Stats</a></li>
    <li><a href="https://twitter.com/sqlitebrowser">Twitter</a></li>
    <li><a href="https://dbhub.io">DBHub.io</a></li>
  </ul>
</nav>
